* {
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 2px black;
}

body {
  background: radial-gradient(
      ellipse at center,
      rgb(116, 127, 172) 0%,
      #fff 100%
    )
    center center / cover no-repeat fixed;
}

header {
  height: 20vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  margin-bottom: 20px;
}

header h1 {
  text-align: center;
  padding-top: 10px;
  background-color: white;
  height: 60px;
  width: 100%;
  z-index: 11;
  position: fixed;
  box-shadow: 10px 5px 20px rgba(80, 80, 80, 0.759),
  -10px 5px 20px rgba(80, 80, 80, 0.759);
}


.container {
  height: auto;
  width: 90%;
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(auto-fit ,minmax(300px, 1fr));
  justify-content: space-around;
  row-gap: 30px;
  column-gap: 20px;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 50px;
}

.citem {
  color: #eec17c;
  border: 1px solid black;
  border-radius: 10px;
  padding-top: 30px;
  width: 300px;
  height: auto;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.citem:hover {
  transform: scale(1.1); /* Scale the item */
  position: relative;
  z-index: 10; /* Put the hovered item on top */
  box-shadow: 0 10px 10px 10px rgba(35, 35, 35, 0.36);
  cursor: pointer;
}

h2 {
  text-align: center;
}
.citem:nth-child(even) {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.711),
    rgba(128, 128, 128, 0.414),
    rgba(255, 255, 255, 0.711)
  );
}

.citem:nth-child(odd) {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.711),
    rgba(128, 128, 128, 0.414),
    rgba(255, 255, 255, 0.711)
  );
}

footer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: rgb(90, 90, 90);
  height: 150px;
  color: white;
  box-shadow: -10px -8px 20px rgba(0, 0, 0, 0.759),
  10px -8px 20px rgba(0, 0, 0, 0.759);
}
footer h3 {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

footer p {
  font-size: 1.2rem;
  padding-bottom: 5px;
}


@media screen and (min-width: 532px) {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        row-gap: 30px;
        margin: 0 auto;
        width: 98%;
    }
    .citem {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
    }
}

@media screen and (max-width: 533px) {
  .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px) ,1fr);
      row-gap: 30px;
      justify-self: space-around;
      align-items: center;
      margin: 0 auto;
      width: 90%;
  }
  .citem {
    min-width: 250px;
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
  }
}

