<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css">
    <title> {{.Group.Name}} </title>
  </head>
  <body>
    <div class="container">
      {{template "group" .}}
      {{template "dates" .}}
      {{template "relation" .}}
    </div>
    <footer>
      <h3>authers</h3>
      <p>Ahmad ElMalki</p>
      <p>Zakaria Bessadou</p>
    </footer>
  </body>
</html>
