<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.css">
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Groupie Trucker</h1>
    </header>
    <div class="container">
      {{range .}}
      <div class="citem">
          <img src="{{.Image}}" alt="Image of {{.Name}}" />
          <h2>{{.Name}}</h2>
          <h3 class="creationDate">Creation Date: {{.CreationDate}}</h3>
          <h3 class="fristAlbum">First Album: {{.FirstAlbum}}</h3>
      </div>
      {{end}}
    </div>

    <script src="../js/index.js"></script>
  </body>
</html>
